---
title: Le Wagon Middleman boilerplate
---
    <%#= partial "navbar" %>


      <!-- Banner -->
    <div class="banner text-center">
      <div class="banner-shadow"></div>
      <div class="banner-content">
        <h1>Louis Baudoin</h1>
        <h2>Travel and street photographer</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>Louis is a young philantropist, seeking for emotions through action across countries, continents, and galaxies</p>
      </div>
  </div>


    <div class="group text-center">
      <div class="container">
        <div class="row">
          <% data.pictures.each do |picture|
            <div class="col-xs-12 col-md-6">
            <%=image_tag pictures.image%>
            </div>
          <%end%>
        </div>




    <!-- Cards -->

    <!-- Newsletter -->

    <!-- Map -->

    <!-- Footer -->

    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

